body{
    background-color: #282828;
}

/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}
  
body{
    margin:10px;
}
  
a{
    text-decoration: none;
}

/* esconde as ancoras da tela */
a.links{
    display: none;
}
  
/* content que contem os formulários */
.content{
    width: 500px;
    margin: 0px auto;
    position: relative; 
}
  
/* formatando o cabeçalho dos formulários */
h1{
    font-size: 48px;
    color: #282828;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
  
p{
    margin-bottom:15px;
}

p:first-child{
    margin: 0px;
}

label{
    color: #405c60;
    position: relative;
}
  
/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
} 

input {
    outline: none;
}
  
input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
  
  /*estilo do botão submit */
input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    padding: 8px 5px;
    font-size: 20px;  
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    color: white;
    background-color: #282828;
    border: 1px solid #b2b2b2;

    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }

/*estilo do botão submit no hover */
input[type="submit"]:hover{
    background: white;
    color: black;
}
  
  /*marcando os links para mudar de um formulário para outro */
.link{
    position: absolute;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
  
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
}

.link a {
    font-weight: bold;
    padding: 6px;
    color: white;
    background-color: #282828;
    margin-left: 10px;
    border: 1px solid #b2b2b2;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }

  .link a:hover {
    color:#282828;
    background: white;
    border: 1px solid #282828;
}

  
  /* estilos para para ambos os formulários */
#cadastro, 
#login{
    position: absolute;
    top: 70px;
    width: 88%; 
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
  
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}
  
  /*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
}
  
 @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
  /*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
}
  
@keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
}