:root{
    --black: #282828;
    --cinza: #5E5E5E;
}

body{
    margin: 0;
}

.header {
    background-color: var(--black);
    width: 100%;
    padding: 3.2rem 0 0;
    color: #f0f0f0;
    z-index: 1;
    padding-bottom: 40px;
    margin-bottom: 70px;
}

.header nav{
    text-align: right;
}

.header nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 50px;
}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}


/* LISTA DE NOTICIAS */

section#lista img{
    width: 250px;
    height: 200px;
    margin-right: 35px;
    float: left;
}

section#lista .wrapper-lista{
    margin-top: 40px;
}

section#lista .wrapper-lista:hover{
    transition: 2s;
    transform: scale(1.04);
}

section#lista .wrapper-lista a{
    text-decoration: none;
    color: var(--black);
}

section#lista .wrapper-lista a:hover{
    color: blue;
}


/* BLOG DETALHE */

section#titulo h1{
    margin-bottom:40px;
}


/* FOOTER DO SITE */

footer{
    padding: 50px;
    margin-top: 100px;
    background-color: var(--black);
}

footer p{
    text-align: right;
    color: white;
    font-size: 12px;
}