:root{
    --black: #282828;
}

body{
    margin: 0;
}

/* HEADER E BANNER */

.header {
    width: 100%;
    padding: 3.2rem 0 0;
    color: #f0f0f0;
    position: absolute;
    z-index: 1;
}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

section#section-banner{
    background-image: url(../img/home/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 99px;
    min-height: 100vh;
    overflow: hidden;
    position: inherit;
    color: #f0f0f0;
}

nav{
    text-align: right;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 50px;
}

nav a:hover{
    color: white;
}

/* SECTION DOS BLOCOS */

section#bloco-1{
    margin-top: 76px;
}

section#bloco-1 img{
    width: 100%;
    height: 300px;
}

section#bloco-1 .preto{
    background-color: var(--black);
    color: white;
    padding: 25px;
    height: 150px;
}

/* ANIMAÇÕES BLOCOS */

section#bloco-1 div#bloco{
    transition: 2s;
}

section#bloco-1 div#bloco:hover{
    transition: 2s;
    transform: scale(1.04);
}


/* SECTION DAS NOTICIAS */

section#noticias div#tela-noticia{
    text-align: center;
}

section#noticias img{
    width: 400px;
    height: 300px;
}

section#noticias img#flecha{
    margin-top: 100px;
    width: 100%;
    height: 30px;
}

section#noticias img#flecha2{
    margin-top: 100px;
    width: 100%;
    height: 30px;
    transform: rotate(180deg);
}







/* FOOTER DO SITE */

footer{
    padding: 50px;
    margin-top: 100px;
    background-color: var(--black);
}

footer p{
    text-align: right;
    color: white;
    font-size: 12px;
}
