:root{
    --black: #282828;
    --cinza: #5E5E5E;
}

body{
    overflow: hidden;
    margin: 0;
}

.header {
    background-color: var(--black);
    width: 100vw;
    padding: 3.2rem 0 0;
    color: #f0f0f0;
    z-index: 1;
    padding-bottom: 40px;
}

.header nav{ 
    text-align: right;
}

.header nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 50px;
}

#header2{
    margin-top: 40px;
}

#header2 nav a{
    background-color: var(--cinza);
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 55px;
    margin-left: -5px;
}

#header2 nav a:hover{
    background-color: var(--black);
    color: white;
}

#header2 nav a.relatorio:visited{
    background-color: var(--black);
    color: white;
}


#logo a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

